@import "tailwindcss";

body {
  word-break: keep-all;
  overflow-wrap: break-word;
  line-break: strict;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 38s linear infinite;
}

.animate-marquee-slow {
  display: flex;
  width: max-content;
  animation: marquee 48s linear infinite;
}
